* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: hsl(47, 88%, 63%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
}

.card {
    border: 1px solid hsl(0, 0%, 7%);
    border-right-width: 8px;
    border-bottom-width: 8px;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    width: 350px;
    border-radius: 20px;
    margin-top: 100px;
}
.card-image {
  margin-bottom: 10px;
}

.card-image img {
    width: 100%;
    border-radius: 15px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-content h3 {
    
    margin-bottom: 10px;
    background-color: hsl(47, 88%, 63%);
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
}

.card-content .Published {
    font-size: 16px;
    font-weight: 500;
    color: hsl(0, 0%, 7%);
    margin-bottom: 15px;
    
}

.card-content h2 {
    padding: 4px;
    
}

.card-content p {
    font-size: 16px;
    color: hsl(0, 0%, 42%);
    margin-bottom: 20px;
    line-height: 1.5;
}

.author-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author-info img {
    width: 40px;
    border-radius: 50%;
}

.author-info span {
    font-size: 16px;
    color: hsl(0, 0%, 7%);
    font-weight: 800;
}



